In [1]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
pd.Series(data)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [2]:
import pandas as pd

data = [1,2,3,4,5,6,7,8,9,10]
pd.Series(data)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [3]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)

In [4]:
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
#In pandas, a DataFrame is a two-dimensional labeled data structure that is widely used for data manipulation and analysis.
#It can be thought of as a table or a spreadsheet with rows and columns. 
#The DataFrame is the primary data structure in pandas and provides a convenient way to store and analyze data.

In [10]:
import pandas as pd

# Creating a DataFrame
data = {'Name': ['John', 'Jane', 'Mike'],
        'Age': [25, 30, 35],
        'City': ['New York', 'London', 'Paris']}
df = pd.DataFrame(data)

# Creating a Series
ages = pd.Series([25, 30, 35], name='Age')

print("DataFrame:")
print(df)
print("\nSeries:")
print(ages)

DataFrame:
   Name  Age      City
0  John   25  New York
1  Jane   30    London
2  Mike   35     Paris

Series:
0    25
1    30
2    35
Name: Age, dtype: int64

In [12]:
 #head
    #tail
    #drop
    
  #  sales_data["Revenue"] = sales_data.apply(lambda row: row["Quantity"] * row["Price"], axis=1)

In [13]:
#Series: A Series is a one-dimensional labeled array that can hold any data type. It is similar to a column in a spreadsheet or a SQL table.
#The elements in a Series can be modified after creation.

#DataFrame: A DataFrame is a two-dimensional labeled data structure, like a table with rows and columns.
#It is the primary data structure used in pandas and provides a convenient way to store and manipulate tabular data. 
#Both rows and columns in a DataFrame can be modified after creation.

#Panel: A Panel is a three-dimensional data structure in pandas, similar to a DataFrame but with an additional axis called "items." 
#It is deprecated and no longer actively developed. It has been replaced by the more versatile and efficient MultiIndex functionality in pandas,
#which allows handling higher-dimensional data using the DataFrame object.