In [1]:
import pandas as pd
df = pd.DataFrame( {'course_name' : ['course_name'], 'duration' : ['duration']})

In [6]:
df

   course_name  duration
0  course_name  duration

In [ ]:
#The loc() function is label based data selecting method which means that we have to pass the name of the row or column which we want to select.
#This method includes the last element of the range passed in it, unlike iloc(). loc() can accept the boolean data unlike iloc(). 

#The iloc() function is an indexed-based selecting method which means that we have to pass an integer index in the method to select a specific row/column. 
#This method does not include the last element of the range passed in it unlike loc(). iloc() does not accept the boolean data unlike loc().

In [17]:
data={'a':[1,2,3,4],'b':[10,30,40,50],'c':[6,7,8,9]}

In [18]:
df=pd.DataFrame(data)

In [25]:
df

   a   b  c
0  1  10  6
1  2  30  7
2  3  40  8
3  4  50  9

In [33]:
reindex=[3,0,1,2]

In [34]:
new_df=df.reindex(reindex)

In [28]:
new_df

   a   b  c
3  4  50  9
0  1  10  6
1  2  30  7
2  3  40  8

In [45]:
loc=new_df.loc[2]

In [46]:
loc

a     3
b    40
c     8
Name: 2, dtype: int64

In [47]:
iloc=new_df.iloc[2]

In [48]:
iloc

a     2
b    30
c     7
Name: 1, dtype: int64

In [ ]:
#there are a difference in both of them one is taking data basis on the their indexes and other one is taking data from based on index name

In [169]:
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [170]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.031207  0.489735  0.749977  0.022535  0.040570  0.807889
2  0.121483  0.579359  0.488182  0.760341  0.577035  0.929222
3  0.674692  0.184552  0.174324  0.524752  0.895209  0.084139
4  0.519688  0.927760  0.095057  0.970298  0.756511  0.499820
5  0.392200  0.665120  0.136017  0.076102  0.053211  0.681290
6  0.826173  0.991729  0.784738  0.080764  0.620737  0.324883

In [171]:
df1.mean()

column_1    0.427574
column_2    0.639709
column_3    0.404716
column_4    0.405799
column_5    0.490545
column_6    0.554540
dtype: float64

In [172]:
df1.column_2.std()

0.2969307343845272

In [184]:
df1.loc[df1['column_2']==0.489735,'column_2']=4

In [185]:
#In pandas, the "window functions" refer to a class of functions that operate on a set of data points called a "window,"
#which is defined by a specific number of rows or a range of rows within a DataFrame. 
#These functions are also known as "rolling" or "expanding" functions, and they are useful for 
#performing calculations over a sliding or expanding window of data. Window functions are commonly used in time series analysis and data smoothing.

In [1]:
import pandas as pd

def get_date_input(prompt):
    while True:
        date_input = input(prompt)
        try:
            # Check if the input can be parsed as a valid date
            pd.to_datetime(date_input)
            return date_input
        except ValueError:
            print("Invalid date format. Please enter a date in the format YYYY-MM-DD.")

def calculate_time_difference(start_date, end_date):
    start_datetime = pd.to_datetime(start_date)
    end_datetime = pd.to_datetime(end_date)
    time_delta = end_datetime - start_datetime
    return time_delta.days, time_delta.seconds // 3600, (time_delta.seconds // 60) % 60

if __name__ == "__main__":
    print("Welcome to the date difference calculator!")
    print("Please  enter two dates in the format YYYY-MM-DD.")

    start_date = get_date_input("Enter the start date: ")
    end_date = get_date_input("Enter the end date: ")

    days_diff, hours_diff, minutes_diff = calculate_time_difference(start_date, end_date)

    print(f"\nDifference between {start_date} and {end_date}:")
    print(f"Days: {days_diff}")
    print(f"Hours: {hours_diff}")
    print(f"Minutes: {minutes_diff}")

Welcome to the date difference calculator!
Please  enter two dates in the format YYYY-MM-DD.

Enter the start date:  2022-02-22
Enter the end date:  2022-03-11

Difference between 2022-02-22 and 2022-03-11:
Days: 17
Hours: 0
Minutes: 0

In [1]:
import pandas as pd

def read_csv_and_convert_to_categorical():
    # Prompt the user for file path, column name, and category order
    file_path = input("Enter the CSV file path: ")
    column_name = input("Enter the name of the column to convert to categorical: ")
    categories = input("Enter the categories separated by commas (e.g., cat,dog,bird): ").split(",")

    try:
        # Read the CSV file
        df = pd.read_csv(file_path)

        # Convert the specified column to categorical data type with given category order
        df[column_name] = pd.Categorical(df[column_name], categories=categories, ordered=True)

        # Sort the DataFrame by the categorical column
        df_sorted = df.sort_values(by=column_name)

        # Display the sorted data
        print("\nSorted Data:")
        print(df_sorted)

    except FileNotFoundError:
        print("File not found. Please check the file path.")
    except KeyError:
        print(f"Column '{column_name}' not found in the CSV file.")
    except Exception as e:
        print(f"An error occurred: {e}")

if __name__ == "__main__":
    read_csv_and_convert_to_categorical()

Enter the CSV file path:  https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv
Enter the name of the column to convert to categorical:  Sex
Enter the categories separated by commas (e.g., cat,dog,bird):  male

Sorted Data:
     PassengerId  Survived  Pclass  \
0              1         0       3
604          605         1       1
605          606         0       3
606          607         0       3
607          608         1       1
..           ...       ...     ...
880          881         1       2
882          883         0       3
885          886         0       3
887          888         1       1
888          889         0       3

                                             Name   Sex   Age  SibSp  Parch  \
0                         Braund, Mr. Owen Harris  male  22.0      1      0
604               Homer, Mr. Harry ("Mr E Haven")  male  35.0      0      0
605                 Lindell, Mr. Edvard Bengtsson  male  36.0      1      0
606                             Karaic, Mr. Milan  male  30.0      0      0
607                   Daniel, Mr. Robert Williams  male  27.0      0      0
..                                            ...   ...   ...    ...    ...
880  Shelley, Mrs. William (Imanita Parrish Hall)   NaN  25.0      0      1
882                  Dahlberg, Miss. Gerda Ulrika   NaN  22.0      0      0
885          Rice, Mrs. William (Margaret Norton)   NaN  39.0      0      5
887                  Graham, Miss. Margaret Edith   NaN  19.0      0      0
888      Johnston, Miss. Catherine Helen "Carrie"   NaN   NaN      1      2

         Ticket     Fare Cabin Embarked
0     A/5 21171   7.2500   NaN        S
604      111426  26.5500   NaN        C
605      349910  15.5500   NaN        S
606      349246   7.8958   NaN        S
607      113804  30.5000   NaN        S
..          ...      ...   ...      ...
880      230433  26.0000   NaN        S
882        7552  10.5167   NaN        S
885      382652  29.1250   NaN        Q
887      112053  30.0000   B42        S
888  W./C. 6607  23.4500   NaN        S

[891 rows x 12 columns]